<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">	
<head>
	<title>Prognosis</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="{{url_for('static', filename='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" media="screen" />
</head>

<body>
<div id="main_container">
  <div class="header" style=" height:70;">
	<div id="logo"><a href="#"><img src="{{url_for('static', filename='images/logo.png')}}" alt="" width="190" height="60" border="0" /></a></div>
	     <div class="right_header">   
	     </div>
         <div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br><br><br><br><br>
                             

			<div class="modal-dialog">
        		<div class="loginmodal-container">
          			<h3>Register here</h3><br>
          			<form action="/register" method="post">
          			<input type="text" name="Name" id="name" placeholder="Name">
                                <input type="text" name="username" id="username" placeholder="Username">
          			<input type="password" name="password" id="password" placeholder="Password">
                                <input type="text" name="pass" id="pass" placeholder="Confirm password">
                                <input type="text" name="email" id="email" placeholder="Email">
          			<input type="submit" name="login" class="login loginmodal-submit" value="Login">
          			</form>
          
          			<div class="login-help">
           				<a href="#">Forgot Password?</a>
          			</div>
        		</div>
      		</div>
    	</div>                            
      <div id="menu">
        
      </div>
	</div>
  </div>
  <div id="middle_box">
    <div class="middle_box_content"><img src="images/banner_content.jpg" alt="" /></div>
  </div>
</div>  
 
</body>
</html>
