<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">	
<head>
	<title>Prognosis</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="{{url_for('static', filename='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" media="screen" />
</head>

<body>
<div id="main_container">
  <div class="header" style=" height:70;">
	<div id="logo"><a href="#"><img src="{{url_for('static', filename='images/logo.png')}}" alt="" width="190" height="60" border="0" /></a></div>
	     <div class="right_header">   
	     </div>
         <div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br><br><br><br><br>
                             

			<div class="modal-dialog">
        		<div class="loginmodal-container">
          			<h3>Test Report</h3><br>
          			<form action="/testreports" method="POST">
Choose test
<select id="showform" name="showform" value="select" onchange="showhideForm(this.value);">
  <option value="select">select</option>
  <option value="bloodpressure">Blood Pressure</option>
  <option value="sugartest">Sugar Test</option>
  <option value="bloodtest">Blood Test</option>
  <option value="cholestrol">Cholestrol</option>
</select>



<script type="text/javascript">
function showhideForm(showform) {
    if (showform == "bloodpressure") {
        document.getElementById("div1").style.display = 'block';
        document.getElementById("div2").style.display = 'none';
        document.getElementById("div3").style.display = 'none';
        document.getElementById("div4").style.display = 'none';
    } 
    if (showform == "sugartest") {
        document.getElementById("div2").style.display = 'block';
        document.getElementById("div1").style.display = 'none';
	document.getElementById("div3").style.display = 'none';
        document.getElementById("div4").style.display = 'none';
    }
    if (showform == "bloodtest") {
        document.getElementById("div3").style.display = 'block';
        document.getElementById("div1").style.display = 'none';
	document.getElementById("div2").style.display = 'none';
        document.getElementById("div4").style.display = 'none';
    }
}
</script>
<div id="div1" style="display:none">
Systolic Pressure
<input type="text" id="syst"  name="syst"/>
Diastolic Pressure
<input type="text" id="dias"  name="dias"/>	
<input type="submit" value="submit" name="submit"/>
</div>

<div id="div2" style="display:none">
Fasting Blood Sugar(FBS)
<input type="text" id="fbs"  name="fbs"/>
Post Prandial(PP)
<input type="text" id="ppbs"  name="ppbs"/>
<input type="submit" value="submit" name="submit"/>
</div>

<div id="div3" style="display:none">
RBC
<input type="text" id="rbc"  name="rbc"/>
WBC
<input type="text" id="wbc"  name="wbc"/>
Total count
<input type="text" id="TC"  name="TC"/>
neutrophils
<input type="text" id="neutro"  name="neutro"/>
limphocite
<input type="text" id="limph"  name="limph"/>
eucinophil
<input type="text" id="eucino"  name="eucino"/>
monocite
<input type="text" id="monocite"  name="monocite"/>
platelet
<input type="text" id="platelet"  name="platelet"/>
<input type="submit" value="submit" name="submit"/>
</div>
</form>
          
          		</div>
      		</div>
    	</div>                            
      <div id="menu">
        
      </div>
	</div>
  </div>
  <div id="middle_box">
    <div class="middle_box_content"><img src="images/banner_content.jpg" alt="" /></div>
  </div>
</div>  
 
</body>
</html>
